$linear-gradient: linear-gradient(to right, #e2f87c, #d6f567, #c8f151, #b9ee38, #a8eb12);

$box-shadow: 
    0 16px 24px 2px rgba(33,37,41,.02), 
    0 6px 30px 5px rgba(33,37,41,.04), 
    0 8px 10px -5px rgba(33,37,41,.1);

$border-radius: 3px;    





.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 4rem;
    width: 80%;
    max-width: 1200px;
    margin: 9rem auto;
    @include media-mobile {
        width: 100%;
    }
    
}

.products-element {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2.5rem 2rem;
    background-color: #fff;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
   

    &__name {
        margin-bottom: auto;
        @include h3;
        cursor: pointer;

    }

    &__img {    
        width: 100%;
        height: 27rem;
        object-fit: contain;
        margin-top: 1.5rem;
        cursor: pointer;

    }

    &__price {
        margin-top: 1.5rem;
        color: #808080;
        @include text;
    }

    &__btn {
        margin-top: 1.5rem;
        padding: 1rem 1.5rem;
        border: 1px solid #808080;
        cursor: pointer;
        outline: none;
        background: none;
        @include text;
    }

    &__btn_active {
        border: 1px solid transparent;
        background-image: $linear-gradient;
    }
}

.header-container {
    width: 100%;
    height: 5rem;
    margin-top: 8rem;
}
.header-counter {
    margin-left: auto;
    width: 100%;
    height: auto;
    @include h2;
    text-align: center;
    cursor: pointer;
}


.shopping-container {
    max-width: 100%;
    height: auto;
    margin: auto;
    padding-top: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
}

.shop-ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    @include media-tablet {
        flex-direction: column;
    }
}

.shopping-element__name {
    padding: 3rem;
    @include h3;
    color: rgb(17, 16, 16);
    vertical-align: middle;
    flex-grow : 1;
}

.shopping-element__button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 3rem;
    @include h3;
    color: rgb(17, 16, 16);
    vertical-align: middle;
}

.shopping-element__price {
    padding: 3rem;
    @include h3;
    color: rgb(17, 16, 16);
    vertical-align: middle;
}
.shopping-element__img {
    width: 100%;
    height: 27rem;
    object-fit: contain;
    margin-top: 1.5rem;
    
}

.shopping-element__img-tab {
    min-width:  60rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @include media-tablet {
       min-width:  30rem;
    }
    @include media-mobile {
        flex-direction: column;
    }
}

.shopping-element__img-div {
    width: 15rem;
    height: 12rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .shopping-element__img-div img {
      padding: 2px;
    height: 12rem;
    width: 100%;
    object-fit: contain;
  }


  .popup-catalog {
      position: fixed;
      width: 100%;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.7);
      top: 0;
      left: 0;
      opacity: 0;
      visibility: hidden;
      overflow-y: auto;
      overflow-x: hidden;
      transition: all 0.8s ease 0s;
  }

  .popup-catalog.open {
      opacity: 1;
      visibility: visible;
  }

  .popup.open .popup-catalog__body-content {
      transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
      opacity: 1;
  }

  .popup-catalog__body {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0rem 1rem 7rem;
  }

  .popup-catalog__body-content {
    background-color: #fff;
      color: black;
      width: 80vw;
      max-width: 1200px;
      height: 90%;
      padding: 3rem;  
    position: relative;
    @include media-mobile {
        width: 90vw;
        padding: 2rem 1rem;
    }
    padding: 2rem 1rem;
  }

  .popup__close {
      position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    font-size: 2.5rem;
    color: #000;
    text-decoration: none;
  }

  /*Модальное окно*/

#popupS {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.popup-name {
    @include h2;
    position: fixed;
}

.first-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
    @include media-tablet {
        display: block;
        min-height: 50rem;
    }
    @include media-mobile {
        min-height: 40rem;
    }
}



.first-content-txt-content{
    @include h3;
    font-size: 1.5rem;
    text-align: left;
}
.first-content-txt-content span{
    @include a;
    text-transform: none;
    font-size: 1.5rem;
}   



.Second-content-txt{
    @include text;
    font-weight: 600;
}

.Second-content-txt span{
    font-weight: 400;
}

.popup-img {
    display: flex;
    overflow: hidden;
    width: 75rem;
    height: 50rem;
    @include media-tablet {
        width: 52rem;
        height: 35rem;
        margin: 0 auto;
        overflow: hidden;
    }

    @include media-mobile {
        max-height: 27rem;
        width: 100%;
        padding: 0rem;
    }
}
.popup-img__img {
    margin: 0 auto;
    width: auto;
    height: 100%;
}

.popup-price {
    @include h3;
    padding-top: 1rem;
}



.icon-arrows-d:before {
    content: "\f07e";
  }
.icon-arrows-h:before {
    content: "\f07d";
  }
  .icon-expand:before {
    content: "\f065";
  }

  
    .scroll-block {height: 70px;width: 340px;overflow-y: scroll;}
    .scroll-block::-webkit-scrollbar-track {border-radius: 4px;}
    .scroll-block::-webkit-scrollbar {width: 6px;}
    .scroll-block::-webkit-scrollbar-thumb {border-radius: 4px;background: #f0f2f5;}
    .scroll-block:hover::-webkit-scrollbar-thumb {background: #6a7d9b;}


  