
header {
    background: $color-bg;
}

.wrapper_cont {
    display: flex;
    justify-content: center;
}

.nav {
    width: 100%;
    height: 7rem;
    display: flex;
    top: 0;
    justify-content: space-between;
    padding: 2rem 1rem;
    position: fixed;
    max-width: inherit;
    background-color: $color-bg ; 
}

.nav__logo {
    @include h1();
    letter-spacing: 0.2rem;
    
}

.burger-menu__active .nav__burger__img {
    -moz-transform: rotate(90deg); /* Для Firefox */
    -ms-transform: rotate(90deg); /* Для IE */
    -webkit-transform: rotate(90deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(90deg); /* Для Opera */
    transform: rotate(90deg);
    transition: 1s;
}

.burger-menu__nav {
    padding-top: 7rem;
    position: fixed;
    z-index: 20;
    display: flex;
    flex-flow:column;
    height: 100%;
    background-color:  rgba(0, 0, 0, 0);
    overflow-y: auto;
    left: -100%;
    transition: 1s;
}

.burger-menu__active .burger-menu__nav {
    left: 0;
}

.burger-menu__link {
    padding: 2.5rem;
    @include h3;
    font-size: 2rem;
    text-decoration: none;
    color: #FFF;
    transition: 0.4s;
}

.burger-menu__link:hover {
    filter: brightness(0.7);
    transition: 0.4s;
}

.burger-menu__overlay {
    display: none;
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: 10;
    transition: 1s;
}

.burger-menu__active .burger-menu__overlay {
    display: block;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 1s;
}

.nav__burger__img {
    width: 3rem;
    transition: 1s;
}    

.nav__basket__img {
    width : 2.4rem;
}

.social-links {
    display: flex;
    width: 100%;
    left: 0;
    justify-content: center;
    position: fixed;
    top: auto;
    bottom: 0;
    height: auto;
    margin-bottom: 0;
    padding: 10px 0 0;
    z-index: 998;
    background: #e1e1e1;

    a {
        @include a ();
    }

    img {
        height: 30px;
        display: block;
        @include media-mobile {
            height: 40px;
        }
    }

    p {
        margin-bottom: 15px; 
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #2e3238;
        font-size: 16px;
        text-decoration: none;
        font-weight: 400;
        width: 80px;
        transition: .3s;
    }

    

    &__phone {


        div {
            @include a();
            position: relative;
            display: block;
        }

        span {
            opacity: 0;
            position: absolute;
            margin-left: 30px;
            margin-top: -48px;
            transition: .3s;
            color: #000;
            white-space: nowrap;
            transition: all .8s;
        }
    }
    .social-links__phone:hover span {opacity: 1;}
}



.nav__basket__span {
    position: absolute;
    top: 7px;
    left: 7px;
    @include text;
    font-size: 1rem;
    color: black;
}    