.main {
  background-color: $color-bg;
  padding-top: 2rem;

    &__wrapper {
        max-width: 1200px;
        margin: 0 auto;
        
    }
    
}

.content {
    display: flex;
    justify-content: space-between;
    @media (max-width : 580px) {
        flex-direction: column;
        align-items: center;
    }
    

    @include media-mobile {
        flex-direction: column;
        align-items: center;
    }
    


    &__img {
        max-width: 90rem;
        
        @include media-mobile {
            max-width: 45rem;
            
        }

        .sofa {
            width: 100%;
            height: auto;
        }
    }
}

.content__title {
    padding: 5rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width : 860px) {
        padding: 0rem 0rem;
    }

    @media (max-width : 580px) {
       min-height: 140px;
    }

    @include media-mobile {
        align-items: center;
    }

}

.content__title__up__text {
    padding-top: 1rem;
    @include h3();
    letter-spacing: 0.2rem;
}

.content__title__up__textsub {
    padding-top: 1rem;
    @include h3();
    letter-spacing: 0.2rem;
}

.content__title__down {
    padding-bottom: 5rem;
    @include media-mobile {
        padding-top: 3rem;
    }
}
.content__title__up__button {
    @include h3();
    font-size : 2.2rem;
    letter-spacing: 0.4rem;
    padding: 1.4rem 2rem;
    color: #fff; 
    text-decoration: none; 
    user-select: none; 
    background: #2e3238;
    padding: 1.4rem 8rem; 
    outline: none; /* убирать контур в Mozilla */
    transition: all .3s;
}

.content__title__up__button:hover {
    color: rgb(175, 174, 174);
}

.contener-opt {
    margin: 1rem auto 0;
    width: 100%;
    max-width: 1200px;
    height: 350px;
    background-image: url('../../../img/main_page/sectOpt.jpg');
    background-size: cover;
    background-position: 50%;
}

.opt-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opt-txt {
    font-family: 'Gordita', sans-serif;
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    background: rgba(8, 8, 8, 0.4);
    padding: 15px 10px;
    color: #f9f6f6;
    margin-bottom: 10rem;
}

.opt-subtxt {
    font-family: 'Gordita', sans-serif;
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    background: rgba(8, 8, 8, 0.4);
    padding: 15px 10px;
    color: #f9f6f6;
}

.icon-svg {
    -webkit-transform: rotate(90deg); // разворот элемента для разных бразуеров
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.opt-link {
    text-decoration: none;
}
