.first-img-p {
    max-width: 1200px;
    margin: 8rem auto 0;
    background-image: url('../../img/доставка.png');
    background-position: bottom;
    background-size: 100%;
    height: 65rem;
    @include media-laptop {
        height: 52rem;
    }
    @include media-tablet {
        height: 30rem;
    }
    @include media-mobile {
        height: 27rem;
    }

}