


section {
    padding-top: 10rem;
    background-color: $color-bgd;
}

.slider_container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    @include media-mobile {
        flex-direction: column;
        align-items: center;
    }
}

.main-mini__block {
    width: 38rem;
    background: #fff;
    padding: 30px;
    @include media-laptop {
        width: 28rem;
        padding: 1.5rem;
    }
    @include media-mobile {
        width: 38rem;
        padding: 1.5rem;
    }
}

.main-mini__img img{
    overflow: hidden;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    -moz-transition-property: all 1s ease-out;
    -o-transition-property: all 1s ease-out;
    transition-property: all 1s ease-out;
    transition-duration: 1s;
}

.main-mini__img img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition-duration: 1s;
}

h3 {
    @include h3();
}

.main-mini__description {
    @include text();
}

.end {
    height: 10rem;
}

.wrapper-filter {
    max-width: 1200px;
    height: 18rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.filter-conteiner {
    margin: 0 2rem;
    width: 18rem;
    height: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.filter-conteiner__img {
    
    width: 100%; 
    height: 100%;
    display: flex;
    align-items: center;

}

.filter-conteiner__img__i {
    width: 100%;
    
}

.wrapper-filter a:last-child{

    &.filter-conteiner {

        .filter-conteiner__img {
            justify-content: center;

            .filter-conteiner__img__i {
                max-width: 120px;
            }
        }
    }
}




.filter-conteiner__txt {
    padding-bottom: 1rem;
    margin-bottom: auto;
    @include h3;
   
}
.filter-conteiner__txt__a {
     text-decoration: none;
     color: black;
}