@charset "UTF-8";
:root {
  font-size: 10px;
}

@media (max-width: 1200px) {
  :root {
    font-size: 8px;
  }
}

* {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Gordita';
  src: url("../../fonts/Gordita-Regular.eot");
  src: local("вє"), url("../../fonts/Gordita-Regular.woff") format("woff"), url("../../fonts/Gordita-Regular.ttf") format("truetype"), url("../../fonts/Gordita-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gordita';
  src: url("../../fonts/Gordita-Medium.eot");
  src: local("вє"), url("../../fonts/Gordita-Medium.woff") format("woff"), url("../../fonts/Gordita-Medium.ttf") format("truetype"), url("../../fonts/Gordita-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gordita';
  src: url("../../fonts/Gordita-Bold.eot");
  src: local("вє"), url("../../fonts/Gordita-Bold.woff") format("woff"), url("../../fonts/Gordita-Bold.ttf") format("truetype"), url("../../fonts/Gordita-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Sf-pro-display';
  src: url("../../fonts/sf-pro-display_medium.eot");
  src: local("вє"), url("../../fonts/sf-pro-display_medium.woff") format("woff"), url("../../fonts/sf-pro-display_medium.ttf") format("truetype"), url("../../fonts/sf-pro-display_medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sf-pro-display';
  src: url("../../fonts/sf-pro-display_light.eot");
  src: local("вє"), url("../../fonts/sf-pro-display_light.woff") format("woff"), url("../../fonts/sf-pro-display_light.ttf") format("truetype"), url("../../fonts/sf-pro-display_light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url("../../fonts/icomoon.eot?jq03fr");
  src: url("../../fonts/icomoon.eot?jq03fr#iefix") format("embedded-opentype"), url("../../fonts/icomoon.ttf?jq03fr") format("truetype"), url("../../fonts/icomoon.woff?jq03fr") format("woff"), url("../../fonts/icomoon.svg?jq03fr#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  height: 100%;
}

@media (max-width: 1200px) {
  .wrapper {
    padding: 0 46px;
  }
}

@media (max-width: 770px) {
  .wrapper {
    padding: 0 0px;
    width: 97%;
  }
}

@media (max-width: 414px) {
  .wrapper {
    padding: 0 0px;
  }
}

.wrapper-w {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  height: auto;
  background-color: #fff;
}

@media (max-width: 1200px) {
  .wrapper-w {
    padding: 0 46px;
  }
}

@media (max-width: 770px) {
  .wrapper-w {
    padding: 0 0px;
    width: 97%;
  }
}

@media (max-width: 414px) {
  .wrapper-w {
    padding: 0 0px;
  }
}

.header {
  width: 100%;
  height: 7rem;
  background: #fff;
}

.header.wrapper {
  height: 100%;
  position: fixed;
}

.wrapper_cont {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.nav {
  width: 100%;
  height: 7rem;
  display: flex;
  top: 0;
  justify-content: space-between;
  padding: 0rem 1rem;
  position: fixed;
  max-width: inherit;
  background-color: #fff;
}

.nav__logo {
  padding-top: 1rem;
}

.nav__logo__div {
  width: 25rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav__logo__img {
  width: 100%;
  vertical-align: middle;
}

.burger-menu {
  padding-top: 2rem;
}

.burger-menu__active .nav__burger__img {
  /* Для Firefox */
  /* Для IE */
  /* Для Safari, Chrome, iOS */
  /* Для Opera */
  transform: rotate(90deg);
  transition: 1s;
}

.burger-menu__nav {
  padding-top: 7rem;
  position: fixed;
  z-index: 20;
  display: flex;
  flex-flow: column;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  overflow-y: auto;
  left: -100%;
  transition: 1s;
}

.burger-menu__active .burger-menu__nav {
  left: 0;
}

.burger-menu__link {
  padding: 2.5rem;
  font-family: 'Gordita', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 24px;
  text-transform: uppercase;
  font-size: 2rem;
  text-decoration: none;
  color: #FFF;
  transition: 0.4s;
}

.burger-menu__link:hover {
  filter: brightness(0.7);
  transition: 0.4s;
}

.burger-menu__overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 10;
  transition: 1s;
}

.burger-menu__active .burger-menu__overlay {
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 1s;
}

.nav__burger__img {
  width: 3rem;
  transition: 1s;
}

.nav__basket__img {
  padding-top: 2rem;
  width: 2.4rem;
}

.social-links {
  display: flex;
  width: 100%;
  left: 0;
  justify-content: center;
  position: fixed;
  top: auto;
  bottom: 0;
  height: auto;
  margin-bottom: 0;
  padding: 10px 0 0;
  z-index: 998;
  background: #e1e1e1;
}

.social-links a {
  font-family: Sf-pro-display;
  font-weight: 300;
  font-size: 1.6rem;
}

.social-links img {
  height: 30px;
  display: block;
}

@media (max-width: 414px) {
  .social-links img {
    height: 40px;
  }
}

.social-links p {
  margin-bottom: 15px;
}

.social-links__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #2e3238;
  font-size: 16px;
  text-decoration: none;
  font-weight: 400;
  width: 80px;
  transition: .3s;
}

.social-links__phone div {
  font-family: Sf-pro-display;
  font-weight: 300;
  font-size: 1.6rem;
  position: relative;
  display: block;
}

.social-links__phone span {
  opacity: 0;
  position: absolute;
  margin-left: 30px;
  margin-top: -48px;
  transition: .3s;
  color: #000;
  white-space: nowrap;
  transition: all .8s;
}

.social-links .social-links__phone:hover span {
  opacity: 1;
}

.nav__basket__span {
  padding-top: 2rem;
  position: absolute;
  top: 1px;
  left: -2rem;
  font-family: Gordita,sans-serif;
  font-size: 14px;
  color: #747577;
  line-height: 1.7;
  font-size: 2rem;
  color: black;
}

.main {
  background-color: #fff;
  padding-top: 2rem;
}

.main__wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 580px) {
  .content {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 414px) {
  .content {
    flex-direction: column;
    align-items: center;
  }
}

.content__img {
  max-width: 90rem;
}

@media (max-width: 414px) {
  .content__img {
    max-width: 45rem;
  }
}

.content__img .sofa {
  width: 100%;
  height: auto;
}

.content__title {
  padding: 5rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 860px) {
  .content__title {
    padding: 0rem 0rem;
  }
}

@media (max-width: 580px) {
  .content__title {
    min-height: 140px;
  }
}

@media (max-width: 414px) {
  .content__title {
    align-items: center;
  }
}

.content__title__up__text {
  padding-top: 1rem;
  font-family: 'Gordita', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.content__title__up__textsub {
  padding-top: 1rem;
  font-family: 'Gordita', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.content__title__down {
  padding-bottom: 5rem;
}

@media (max-width: 414px) {
  .content__title__down {
    padding-top: 3rem;
  }
}

.content__title__up__button {
  font-family: 'Gordita', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 24px;
  text-transform: uppercase;
  font-size: 2.2rem;
  letter-spacing: 0.4rem;
  padding: 1.4rem 2rem;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #2e3238;
  padding: 1.4rem 8rem;
  outline: none;
  /* убирать контур в Mozilla */
  transition: all .3s;
}

.content__title__up__button:hover {
  color: #afaeae;
}

.contener-opt {
  margin: 1rem auto 0;
  width: 100%;
  max-width: 1200px;
  height: 350px;
  background-image: url("../../../img/main_page/sectOpt.jpg");
  background-size: cover;
  background-position: 50%;
}

.opt-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.opt-txt {
  font-family: 'Gordita', sans-serif;
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  background: rgba(8, 8, 8, 0.4);
  padding: 15px 10px;
  color: #f9f6f6;
  margin-bottom: 10rem;
}

.opt-subtxt {
  font-family: 'Gordita', sans-serif;
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  background: rgba(8, 8, 8, 0.4);
  padding: 15px 10px;
  color: #f9f6f6;
}

.icon-svg {
  transform: rotate(90deg);
}

.opt-link {
  text-decoration: none;
}

.slider_container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}

@media (max-width: 655px) {
  .slider_container {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 414px) {
  .slider_container {
    flex-direction: column;
    align-items: center;
  }
}

.main-mini__block {
  width: 38rem;
  background: #fff;
  padding: 30px;
}

@media (max-width: 1200px) {
  .main-mini__block {
    width: 28rem;
    padding: 1.5rem;
  }
}

@media (max-width: 414px) {
  .main-mini__block {
    width: 38rem;
    padding: 1.5rem;
  }
}

.main-mini__direction {
  overflow: hidden;
}

.main-mini__img img {
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  transition-property: all 1s ease-out;
  transition-duration: 1s;
}

.main-mini__img img:hover {
  transform: scale(1.1);
  transition-duration: 1s;
}

h3 {
  font-family: 'Gordita', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 24px;
  text-transform: uppercase;
}

.main-mini__description {
  font-family: Gordita,sans-serif;
  font-size: 14px;
  color: #747577;
  line-height: 1.7;
}

.end {
  height: 10rem;
}

.wrapper-filter {
  max-width: 1200px;
  height: 18rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.wrapper-filter a {
  transition: 1s;
}

.wrapper-filter a:hover {
  box-shadow: 10px 14px 28px black;
  transform: translate(-10px, -10px);
  transition: 1s;
}

.filter-conteiner {
  margin: 0 2rem;
  width: 18rem;
  height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.filter-conteiner__img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.filter-conteiner__img__i {
  width: 100%;
}

.wrapper-filter a:last-child.filter-conteiner .filter-conteiner__img {
  justify-content: center;
}

.wrapper-filter a:last-child.filter-conteiner .filter-conteiner__img .filter-conteiner__img__i {
  max-width: 120px;
}

.filter-conteiner__txt {
  padding-bottom: 1rem;
  margin-bottom: auto;
  font-family: 'Gordita', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 615px) {
  .filter-conteiner__txt {
    font-size: 12px;
  }
}

.filter-conteiner__txt__a {
  text-decoration: none;
  color: black;
}

.first-img {
  max-width: 1200px;
  margin: 8rem auto 0;
  background-image: url("../../img/about_us/диван Челси 3 ех местный прямой ткань Omega 37.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-size: 100%;
  height: 65rem;
}

@media (max-width: 1200px) {
  .first-img {
    height: 52rem;
  }
}

@media (max-width: 768px) {
  .first-img {
    height: 30rem;
  }
}

@media (max-width: 414px) {
  .first-img {
    height: 27rem;
  }
}

.first-content {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 1rem;
  font-family: Gordita,sans-serif;
  font-size: 14px;
  color: #747577;
  line-height: 1.7;
  text-align: center;
  font-size: 2rem;
}

.section3 {
  margin-bottom: 0rem;
}

@media (max-width: 414px) {
  .section3 .wrapper {
    height: 50rem;
  }
}

.wrapper-backgr-img {
  background-image: url("../../img/about_us/sofa-clip-art-31.png");
  background-position: 100% center;
  background-size: 90%;
  background-repeat: no-repeat;
  height: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 414px) {
  .wrapper-backgr-img {
    height: 100%;
  }
}

.content1 {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

@media (max-width: 414px) {
  .content1 {
    flex-direction: column;
    padding-top: 1rem;
  }
}

.content__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text__sub {
  font-family: 'Sf-pro-display';
  font-weight: 400;
  font-style: normal;
  font-size: 2.4rem;
  font-size: 3.0rem;
}

.text__under {
  font-family: Gordita,sans-serif;
  font-size: 14px;
  color: #747577;
  line-height: 1.7;
  padding-top: 2rem;
  font-size: 1.8rem;
  color: #000;
}

.us {
  background-color: #fff;
  max-width: 1200px;
  margin: 0 auto;
}

.second-title {
  text-align: center;
  font-family: 'Sf-pro-display';
  font-weight: 400;
  font-style: normal;
  font-size: 2.4rem;
  font-size: 4rem;
  padding-top: 10rem;
}

.second-bloc {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
  grid-gap: 10px 10px;
}

@media (max-width: 414px) {
  .second-bloc {
    flex-direction: column;
  }
}

.second-bloc__1 {
  width: -webkit-fill-available;
}

.second-bloc__2 {
  display: flex;
  justify-content: center;
}

.second-bloc__2 img {
  width: 15rem;
  height: 15rem;
}

.second-bloc__3 {
  text-align: center;
}

.second-bloc__3 p {
  font-family: Gordita,sans-serif;
  font-size: 14px;
  color: #747577;
  line-height: 1.7;
  font-size: 2rem;
}

.second-bloc__3 span {
  font-family: 'Sf-pro-display';
  font-weight: 400;
  font-style: normal;
  font-size: 2.4rem;
  font-size: 3rem;
}

.content__form {
  display: flex;
  justify-content: center;
}

.cover {
  padding-left: 60px;
}

@media (max-width: 1200px) {
  .cover {
    padding-left: 40px;
  }
}

@media (max-width: 768px) {
  .cover {
    padding-left: 0px;
  }
}

@media (max-width: 414px) {
  .cover {
    padding-left: 0px;
  }
}

p.contact {
  font-family: Gordita,sans-serif;
  font-size: 14px;
  color: #747577;
  line-height: 1.7;
  font-size: 1.5rem;
  line-height: 3rem;
  color: #4b4b4b;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

#contact {
  margin-bottom: 0px;
}

input[type="text"] {
  width: 40rem;
}

textarea {
  width: 40rem;
  height: 10rem;
}

label {
  color: #1f1d1c;
}

input, textarea {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0.3rem;
  font-family: Keffeesatz, Arial;
  color: #4b4b4b;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

input:focus, textarea:focus {
  border: 5px solid #ff5400;
  background-color: white;
}

input[type="submit"] {
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 1.8rem;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px 36px 8px 36px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  background: -moz-linear-gradient(center bottom, #619702 23%, #7ac000 62%);
}

input[type="submit"]:hover {
  color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  background-color: #ff5400;
  background: -moz-linear-gradient(center bottom, #c34000 23%, #ff5400 62%);
}

input[type="submit"]:active {
  top: 1px;
}

.map {
  padding-top: 1rem;
  opacity: 0.7;
}

.popup__modal {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.popup__modal.active {
  display: flex;
}

.popup__thx__body {
  z-index: 15;
  background-color: #fff;
  text-align: center;
  padding: 1rem 1rem;
  border-radius: 1rem;
}

.popup__thx__body_sp {
  font-family: 'Sf-pro-display';
  font-weight: 400;
  font-style: normal;
  font-size: 2.4rem;
  font-size: 3rem;
}

.contacs-container {
  max-width: 1200px;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-title {
  text-align: center;
}

.title {
  font-family: 'Sf-pro-display';
  font-weight: 400;
  font-style: normal;
  font-size: 2.4rem;
}

.container-text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
}

@media (max-width: 414px) {
  .container-text {
    flex-direction: column;
    align-items: center;
  }
}

.text__1 {
  text-align: left;
}

@media (max-width: 414px) {
  .text__1 {
    text-align: center;
    margin-top: 2rem;
  }
}

.text__1sp {
  font-family: 'Gordita', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 24px;
  text-transform: uppercase;
}

.text__1p {
  font-family: Gordita,sans-serif;
  font-size: 14px;
  color: #747577;
  line-height: 1.7;
}

.map-conteiner__active {
  display: none;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 4rem;
  width: 80%;
  max-width: 1200px;
  margin: 9rem auto;
}

@media (max-width: 414px) {
  .products-container {
    width: 100%;
  }
}

.products-element {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2.5rem 2rem;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 16px 24px 2px rgba(33, 37, 41, 0.02), 0 6px 30px 5px rgba(33, 37, 41, 0.04), 0 8px 10px -5px rgba(33, 37, 41, 0.1);
}

.products-element__name {
  margin-bottom: auto;
  font-family: 'Gordita', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 24px;
  text-transform: uppercase;
  cursor: pointer;
}

.products-element__img {
  width: 100%;
  height: 27rem;
  object-fit: contain;
  margin-top: 1.5rem;
  cursor: pointer;
}

.products-element__price {
  margin-top: 1.5rem;
  color: #808080;
  font-family: Gordita,sans-serif;
  font-size: 14px;
  color: #747577;
  line-height: 1.7;
}

.products-element__btn {
  margin-top: 1.5rem;
  padding: 1rem 1.5rem;
  border: 1px solid #808080;
  cursor: pointer;
  outline: none;
  background: none;
  font-family: Gordita,sans-serif;
  font-size: 14px;
  color: #747577;
  line-height: 1.7;
}

.products-element__btn_active {
  border: 1px solid transparent;
  background-image: linear-gradient(to right, #e2f87c, #d6f567, #c8f151, #b9ee38, #a8eb12);
}

.header-container {
  width: 100%;
  height: 5rem;
  margin-top: 8rem;
}

.header-counter {
  margin-left: auto;
  width: 100%;
  height: auto;
  font-family: 'Sf-pro-display';
  font-weight: 400;
  font-style: normal;
  font-size: 2.4rem;
  text-align: center;
  cursor: pointer;
}

.shopping-container {
  max-width: 100%;
  height: auto;
  margin: auto;
  padding-top: 1rem;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
}

.shop-ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

@media (max-width: 768px) {
  .shop-ul {
    flex-direction: column;
  }
}

.shopping-element__name {
  padding: 3rem;
  font-family: 'Gordita', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 24px;
  text-transform: uppercase;
  color: #111010;
  vertical-align: middle;
  flex-grow: 1;
}

.shopping-element__button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 3rem;
  font-family: 'Gordita', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 24px;
  text-transform: uppercase;
  color: #111010;
  vertical-align: middle;
}

.shopping-element__price {
  padding: 3rem;
  font-family: 'Gordita', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 24px;
  text-transform: uppercase;
  color: #111010;
  vertical-align: middle;
}

.shopping-element__img {
  width: 100%;
  height: 27rem;
  object-fit: contain;
  margin-top: 1.5rem;
}

.shopping-element__img-tab {
  min-width: 60rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media (max-width: 768px) {
  .shopping-element__img-tab {
    min-width: 30rem;
  }
}

@media (max-width: 414px) {
  .shopping-element__img-tab {
    flex-direction: column;
  }
}

.shopping-element__img-div {
  width: 15rem;
  height: 12rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopping-element__img-div img {
  padding: 2px;
  height: 12rem;
  width: 100%;
  object-fit: contain;
}

.popup-catalog {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}

.popup-catalog.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup-catalog__body-content {
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}

.popup-catalog__body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem 1rem 7rem;
}

.popup-catalog__body-content {
  background-color: #fff;
  color: black;
  width: 80vw;
  max-width: 1200px;
  height: 90%;
  padding: 3rem;
  position: relative;
  padding: 2rem 1rem;
}

@media (max-width: 414px) {
  .popup-catalog__body-content {
    width: 90vw;
    padding: 2rem 1rem;
  }
}

.popup__close {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  font-size: 2.5rem;
  color: #000;
  text-decoration: none;
}

/*Модальное окно*/
#popupS {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.popup-name {
  font-family: 'Sf-pro-display';
  font-weight: 400;
  font-style: normal;
  font-size: 2.4rem;
  position: fixed;
}

.first-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 3rem;
}

@media (max-width: 768px) {
  .first-content {
    display: block;
    min-height: 50rem;
  }
}

@media (max-width: 414px) {
  .first-content {
    min-height: 40rem;
  }
}

.first-content-txt-content {
  font-family: 'Gordita', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 24px;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: left;
}

.first-content-txt-content span {
  font-family: Sf-pro-display;
  font-weight: 300;
  font-size: 1.6rem;
  text-transform: none;
  font-size: 1.5rem;
}

.Second-content-txt {
  font-family: Gordita,sans-serif;
  font-size: 14px;
  color: #747577;
  line-height: 1.7;
  font-weight: 600;
}

.Second-content-txt span {
  font-weight: 400;
}

.popup-img {
  display: flex;
  overflow: hidden;
  width: 75rem;
  height: 50rem;
}

@media (max-width: 768px) {
  .popup-img {
    width: 52rem;
    height: 35rem;
    margin: 0 auto;
    overflow: hidden;
  }
}

@media (max-width: 414px) {
  .popup-img {
    max-height: 27rem;
    width: 100%;
    padding: 0rem;
  }
}

.popup-img__img {
  margin: 0 auto;
  width: auto;
  height: 100%;
}

.popup-price {
  font-family: 'Gordita', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 24px;
  text-transform: uppercase;
  padding-top: 1rem;
  text-transform: none;
}

.hide {
  display: none;
}

.icon-arrows-d:before {
  content: "\f07e";
}

.icon-arrows-h:before {
  content: "\f07d";
}

.icon-expand:before {
  content: "\f065";
}

.scroll-block {
  height: 70px;
  width: 340px;
  overflow-y: scroll;
}

.scroll-block::-webkit-scrollbar-track {
  border-radius: 4px;
}

.scroll-block::-webkit-scrollbar {
  width: 6px;
}

.scroll-block::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #f0f2f5;
}

.scroll-block:hover::-webkit-scrollbar-thumb {
  background: #6a7d9b;
}

.section-basket {
  padding-top: 8rem;
}

.shopping-element__button-div {
  position: relative;
  display: flex;
}

.shopping-element__button-div button {
  display: contents;
  font-size: 2.2rem;
}

p {
  margin: 0 1rem;
}

@media (max-width: 768px) {
  tr {
    width: 716px;
  }
  .shopping-element__img-tab {
    float: left;
  }
  .shopping-element__button {
    float: left;
  }
}

@media (max-width: 414px) {
  tr {
    display: flex;
    flex-direction: column;
    width: auto;
  }
}

.first-img-t {
  max-width: 1200px;
  margin: 8rem auto 0;
  background-image: url("../../img/ткань.JPG");
  background-position: bottom;
  background-size: 100%;
  height: 65rem;
}

@media (max-width: 1200px) {
  .first-img-t {
    height: 52rem;
  }
}

@media (max-width: 768px) {
  .first-img-t {
    height: 30rem;
  }
}

@media (max-width: 414px) {
  .first-img-t {
    height: 27rem;
  }
}

a.blubtn {
  width: 20rem;
  text-align: center;
  display: block;
  font-family: arial;
  text-decoration: none;
  font-weight: 300;
  font-size: 24px;
  border: #1071FF 1px solid;
  color: #1071FF;
  padding: 10px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 20px auto;
  transition: .5s;
  border-radius: 0px;
}

a.blubtn:hover {
  top: 5px;
  transition: .5s;
  color: #ff1010;
  border: #ff3410 1px solid;
  border-radius: 10px;
}

a.blubtn:active {
  color: #000;
  border: #1A1A1A 1px solid;
  transition: .07s;
  background-color: #FFF;
}

.first-img-p {
  max-width: 1200px;
  margin: 8rem auto 0;
  background-image: url("../../img/доставка.png");
  background-position: bottom;
  background-size: 100%;
  height: 65rem;
}

@media (max-width: 1200px) {
  .first-img-p {
    height: 52rem;
  }
}

@media (max-width: 768px) {
  .first-img-p {
    height: 30rem;
  }
}

@media (max-width: 414px) {
  .first-img-p {
    height: 27rem;
  }
}

.first-img-opt {
  max-width: 1200px;
  margin: 2rem auto 0;
  background-image: url("../../../img/opt/prod.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 65rem;
}

@media (max-width: 1200px) {
  .first-img-opt {
    height: 52rem;
  }
}

@media (max-width: 768px) {
  .first-img-opt {
    height: 30rem;
  }
}

@media (max-width: 414px) {
  .first-img-opt {
    height: 27rem;
  }
}

.first-content-opt {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 1rem;
  font-family: Gordita,sans-serif;
  font-size: 14px;
  color: #747577;
  line-height: 1.7;
  font-size: 2rem;
}

.first-content-opt-p1 {
  text-align: center;
  margin: 2rem 0;
}

.title-opt {
  font-family: 'Gordita', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 24px;
  text-transform: uppercase;
  text-transform: none;
  margin: 1rem 0;
}
/*# sourceMappingURL=style.css.map */