@charset "UTF-8";
:root {
  font-size: 10px;
}

@media (max-width: 1200px) {
  :root {
    font-size: 8px;
  }
}

* {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Gordita';
  src: url("../../fonts/Gordita-Regular.eot");
  src: local("вє"), url("../../fonts/Gordita-Regular.woff") format("woff"), url("../../fonts/Gordita-Regular.ttf") format("truetype"), url("../../fonts/Gordita-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gordita';
  src: url("../../fonts/Gordita-Medium.eot");
  src: local("вє"), url("../../fonts/Gordita-Medium.woff") format("woff"), url("../../fonts/Gordita-Medium.ttf") format("truetype"), url("../../fonts/Gordita-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gordita';
  src: url("../../fonts/Gordita-Bold.eot");
  src: local("вє"), url("../../fonts/Gordita-Bold.woff") format("woff"), url("../../fonts/Gordita-Bold.ttf") format("truetype"), url("../../fonts/Gordita-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Sf-pro-display';
  src: url("../../fonts/sf-pro-display_medium.eot");
  src: local("вє"), url("../../fonts/sf-pro-display_medium.woff") format("woff"), url("../../fonts/sf-pro-display_medium.ttf") format("truetype"), url("../../fonts/sf-pro-display_medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sf-pro-display';
  src: url("../../fonts/sf-pro-display_light.eot");
  src: local("вє"), url("../../fonts/sf-pro-display_light.woff") format("woff"), url("../../fonts/sf-pro-display_light.ttf") format("truetype"), url("../../fonts/sf-pro-display_light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: auto;
}

@media (max-width: 1200px) {
  .wrapper {
    padding: 0 46px;
  }
}

@media (max-width: 414px) {
  .wrapper {
    padding: 0 0px;
  }
}

header {
  background: #fff;
}

.wrapper_cont {
  display: flex;
  justify-content: center;
}

.nav {
  width: 100%;
  height: 7rem;
  display: flex;
  top: 0;
  justify-content: space-between;
  padding: 2rem 1rem;
  position: fixed;
  max-width: inherit;
  background-color: #fff;
}

.nav__logo {
  font-family: 'Sf-pro-display';
  font-weight: normal;
  font-style: normal;
  font-size: 2.4rem;
  text-decoration: none;
  color: #06070c;
  letter-spacing: 0.2rem;
}

.burger-menu__active .nav__burger__img {
  /* Для Firefox */
  /* Для IE */
  /* Для Safari, Chrome, iOS */
  /* Для Opera */
  transform: rotate(90deg);
  transition: 1s;
}

.burger-menu__nav {
  padding-top: 7rem;
  position: fixed;
  z-index: 20;
  display: flex;
  flex-flow: column;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  overflow-y: auto;
  left: -100%;
  transition: 1s;
}

.burger-menu__active .burger-menu__nav {
  left: 0;
}

.burger-menu__link {
  padding: 2.5rem;
  font-family: 'Gordita', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 24px;
  text-transform: uppercase;
  font-size: 2rem;
  text-decoration: none;
  color: #FFF;
  transition: 0.4s;
}

.burger-menu__link:hover {
  filter: brightness(0.7);
  transition: 0.4s;
}

.burger-menu__overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 10;
  transition: 1s;
}

.burger-menu__active .burger-menu__overlay {
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 1s;
}

.nav__burger__img {
  width: 3rem;
  transition: 1s;
}

.nav__basket__img {
  width: 2.4rem;
}

.social-links {
  display: flex;
  width: 100%;
  left: 0;
  justify-content: center;
  position: fixed;
  top: auto;
  bottom: 0;
  height: auto;
  margin-bottom: 0;
  padding: 10px 0 0;
  z-index: 998;
  background: #e1e1e1;
}

.social-links a {
  font-family: Sf-pro-display;
  font-weight: 300;
  font-size: 1.6rem;
}

.social-links img {
  height: 30px;
  display: block;
}

@media (max-width: 414px) {
  .social-links img {
    height: 40px;
  }
}

.social-links p {
  margin-bottom: 15px;
}

.social-links__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #2e3238;
  font-size: 16px;
  text-decoration: none;
  font-weight: 400;
  width: 80px;
  transition: .3s;
}

.social-links__phone div {
  font-family: Sf-pro-display;
  font-weight: 300;
  font-size: 1.6rem;
  position: relative;
  display: block;
}

.social-links__phone span {
  opacity: 0;
  position: absolute;
  margin-left: 30px;
  margin-top: -48px;
  transition: .3s;
  color: #000;
  white-space: nowrap;
  transition: all .8s;
}

.social-links .social-links__phone:hover span {
  opacity: 1;
}

.main {
  background-color: #fff;
  padding-top: 7rem;
}

.main__wrapper {
  padding-top: 5rem;
  /*
        max-width: $content-width;
        background-image: url('../../../img/main_page/диван\ Челси\ 3\ ех\ местный\ прямой\ ткань\ Omega\ 37.jpg');
        background-size: cover;
        overflow: hidden;
        height: 100%;
        margin: 0 auto;
        padding: 0 20px;*/
}

.content {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 414px) {
  .content {
    flex-direction: column;
    align-items: center;
  }
}

.content__img {
  max-width: 90rem;
}

@media (max-width: 414px) {
  .content__img {
    max-width: 45rem;
  }
}

.content__img .sofa {
  width: 100%;
  height: auto;
}

.content__title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 414px) {
  .content__title {
    align-items: center;
  }
}

.content__title__up__text {
  padding-top: 1rem;
  font-family: 'Gordita', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.content__title__up__textsub {
  padding-top: 1rem;
  font-family: 'Gordita', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.content__title__down {
  padding-bottom: 5rem;
}

@media (max-width: 414px) {
  .content__title__down {
    padding-top: 3rem;
  }
}

.content__title__up__button {
  font-family: 'Gordita', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 24px;
  text-transform: uppercase;
  font-size: 2.2rem;
  letter-spacing: 0.4rem;
  padding: 1.4rem 2rem;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #2e3238;
  padding: 1.4rem 8rem;
  outline: none;
  /* убирать контур в Mozilla */
  transition: all .3s;
}

.content__title__up__button:hover {
  color: #afaeae;
}

section {
  padding-top: 10rem;
  background-color: #f6f6f6;
}

.slider_container {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}

@media (max-width: 414px) {
  .slider_container {
    flex-direction: column;
    align-items: center;
  }
}

.main-mini__block {
  width: 38rem;
  background: #fff;
  padding: 30px;
}

@media (max-width: 1200px) {
  .main-mini__block {
    width: 28rem;
    padding: 1.5rem;
  }
}

@media (max-width: 414px) {
  .main-mini__block {
    width: 38rem;
    padding: 1.5rem;
  }
}

.main-mini__img img {
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 25rem;
  transition-property: all 1s ease-out;
  transition-duration: 1s;
}

.main-mini__img img:hover {
  transform: scale(1.1);
  transition-duration: 1s;
}

h3 {
  font-family: 'Gordita', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 24px;
  text-transform: uppercase;
}

.main-mini__description {
  font-family: Gordita,sans-serif;
  font-size: 14px;
  color: #747577;
  line-height: 1.7;
}

.end {
  height: 10rem;
}

.first-img {
  background-image: url("../../img/about_us/диван Челси 3 ех местный прямой ткань Omega 37.jpg");
  background-position: bottom;
  background-size: 100%;
  height: 65rem;
}

@media (max-width: 1200px) {
  .first-img {
    height: 52rem;
  }
}

@media (max-width: 768px) {
  .first-img {
    height: 30rem;
  }
}

@media (max-width: 414px) {
  .first-img {
    height: 27rem;
  }
}

.first-content {
  padding-top: 1rem;
  font-family: Gordita,sans-serif;
  font-size: 14px;
  color: #747577;
  line-height: 1.7;
  text-align: center;
  font-size: 2rem;
}

.section3 {
  background-color: #f6f6f6;
}

.section3 .wrapper {
  background-color: #f6f6f6;
}

@media (max-width: 414px) {
  .section3 .wrapper {
    height: 35rem;
  }
}

.wrapper-backgr-img {
  background-image: url("../../img/about_us/sofa-clip-art-31.png");
  background-position: 100% center;
  background-size: 90%;
  height: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content1 {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

@media (max-width: 414px) {
  .content1 {
    flex-direction: column;
    padding-top: 10rem;
  }
}

.content__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text__sub {
  font-family: 'Sf-pro-display';
  font-weight: 400;
  font-style: normal;
  font-size: 2.4rem;
  font-size: 3.0rem;
}

.text__under {
  font-family: Gordita,sans-serif;
  font-size: 14px;
  color: #747577;
  line-height: 1.7;
  padding-top: 2rem;
  font-size: 1.8rem;
  color: #000;
}

.us {
  background-color: #fff;
}

.second-title {
  text-align: center;
  font-family: 'Sf-pro-display';
  font-weight: 400;
  font-style: normal;
  font-size: 2.4rem;
  font-size: 4rem;
  padding-top: 10rem;
}

.second-bloc {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 414px) {
  .second-bloc {
    flex-direction: column;
  }
}

.second-bloc__1 {
  width: -webkit-fill-available;
}

.second-bloc__2 {
  display: flex;
  justify-content: center;
}

.second-bloc__2 img {
  width: 15rem;
  height: 15rem;
}

.second-bloc__3 {
  text-align: center;
}

.second-bloc__3 p {
  font-family: Gordita,sans-serif;
  font-size: 14px;
  color: #747577;
  line-height: 1.7;
  font-size: 2rem;
}

.second-bloc__3 span {
  font-family: 'Sf-pro-display';
  font-weight: 400;
  font-style: normal;
  font-size: 2.4rem;
  font-size: 3rem;
}

.content__form {
  display: flex;
  justify-content: center;
}

.cover {
  padding-left: 60px;
}

@media (max-width: 1200px) {
  .cover {
    padding-left: 40px;
  }
}

@media (max-width: 768px) {
  .cover {
    padding-left: 0px;
  }
}

@media (max-width: 414px) {
  .cover {
    padding-left: 0px;
  }
}

p.contact {
  font-family: Gordita,sans-serif;
  font-size: 14px;
  color: #747577;
  line-height: 1.7;
  font-size: 1.5rem;
  line-height: 3rem;
  color: #4b4b4b;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

#contact {
  margin-bottom: 0px;
}

input[type="text"] {
  width: 40rem;
}

textarea {
  width: 40rem;
  height: 10rem;
}

label {
  color: #1f1d1c;
}

input, textarea {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0.3rem;
  font-family: Keffeesatz, Arial;
  color: #4b4b4b;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

input:focus, textarea:focus {
  border: 5px solid #ff5400;
  background-color: white;
}

input[type="submit"] {
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 1.8rem;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px 36px 8px 36px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  background: -moz-linear-gradient(center bottom, #619702 23%, #7ac000 62%);
}

input[type="submit"]:hover {
  color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  background-color: #ff5400;
  background: -moz-linear-gradient(center bottom, #c34000 23%, #ff5400 62%);
}

input[type="submit"]:active {
  top: 1px;
}

.map {
  padding-top: 1rem;
  opacity: 0.7;
}

.popup__modal {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.popup__modal.active {
  display: flex;
}

.popup__thx__body {
  z-index: 15;
  background-color: #fff;
  text-align: center;
  padding: 1rem 1rem;
  border-radius: 1rem;
}

.popup__thx__body_sp {
  font-family: 'Sf-pro-display';
  font-weight: 400;
  font-style: normal;
  font-size: 2.4rem;
  font-size: 3rem;
}

.contacs-container {
  width: 100%;
  margin-top: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-title {
  text-align: center;
}

.title {
  font-family: 'Sf-pro-display';
  font-weight: 400;
  font-style: normal;
  font-size: 2.4rem;
}

.container-text {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 3rem;
}

@media (max-width: 414px) {
  .container-text {
    flex-direction: column;
    align-items: center;
  }
}

.text__1 {
  text-align: left;
}

@media (max-width: 414px) {
  .text__1 {
    text-align: center;
    margin-top: 2rem;
  }
}

.text__1sp {
  font-family: 'Gordita', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 24px;
  text-transform: uppercase;
}

.text__1p {
  font-family: Gordita,sans-serif;
  font-size: 14px;
  color: #747577;
  line-height: 1.7;
}

.map-conteiner__active {
  display: none;
}
/*# sourceMappingURL=style.css.map */